Source: libevdevc
Priority: extra
Maintainer: Hugh Greenberg <hugegreenbug@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Section: libs
Homepage: https://github.com/hugegreenbug/libevdevc 
#Vcs-Git: git://git.debian.org/collab-maint/libevdevc.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libevdevc.git;a=summary

Package: libevdevc-dev
Section: libdevel
Architecture: any
Depends: libevdevc (= ${binary:Version})
Description: ChromiumOS libevdevc development files
 Development files for ChromiumOS' libevdevc

Package: libevdevc
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ChromiumOS libevdevc
 libedev from ChromiumOS 
